parameters:
	ignoreErrors:
		-
			message: "#^Method Laminas\\\\Hydrator\\\\AbstractHydrator\\:\\:hydrateValue\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AbstractHydrator.php
		-
			message: "#^Instanceof between mixed and string\\|null results in an error\\.$#"
			count: 1
			path: src/HydratorPluginManager.php

		-
			message: "#^Method Laminas\\\\Hydrator\\\\HydratorPluginManagerFactory\\:\\:__invoke\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/HydratorPluginManagerFactory.php

		-
			message: "#^Parameter \\#1 \\$property of method Laminas\\\\Hydrator\\\\Filter\\\\FilterInterface\\:\\:filter\\(\\) expects string, int\\|string given\\.$#"
			count: 1
			path: src/ObjectPropertyHydrator.php

		-
			message: "#^Parameter \\#1 \\$name of method Laminas\\\\Hydrator\\\\AbstractHydrator\\:\\:extractName\\(\\) expects string, int\\|string given\\.$#"
			count: 1
			path: src/ObjectPropertyHydrator.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 3
			path: src/Strategy/BooleanStrategy.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 4
			path: src/Strategy/BooleanStrategy.php

		-
			message: "#^Method Laminas\\\\Hydrator\\\\Strategy\\\\BooleanStrategy\\:\\:hydrate\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Strategy/BooleanStrategy.php

		-
			message: "#^Method Laminas\\\\Hydrator\\\\Strategy\\\\ClosureStrategy\\:\\:hydrate\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Strategy/ClosureStrategy.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 2
			path: src/Strategy/CollectionStrategy.php

		-
			message: "#^Method Laminas\\\\Hydrator\\\\Strategy\\\\DateTimeFormatterStrategy\\:\\:hydrate\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Strategy/DateTimeFormatterStrategy.php

		-
			message: "#^Method Laminas\\\\Hydrator\\\\Strategy\\\\DefaultStrategy\\:\\:hydrate\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Strategy/DefaultStrategy.php

		-
			message: "#^Method Laminas\\\\Hydrator\\\\Strategy\\\\ExplodeStrategy\\:\\:hydrate\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Strategy/ExplodeStrategy.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: src/Strategy/ExplodeStrategy.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 2
			path: src/Strategy/ExplodeStrategy.php

		-
			message: "#^Method Laminas\\\\Hydrator\\\\Strategy\\\\ExplodeStrategy\\:\\:hydrate\\(\\) should return array\\<string\\> but returns array\\<int, string\\>\\|false\\.$#"
			count: 2
			path: src/Strategy/ExplodeStrategy.php

		-
			message: "#^Method Laminas\\\\Hydrator\\\\Strategy\\\\SerializableStrategy\\:\\:hydrate\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Strategy/SerializableStrategy.php

		-
			message: "#^Method Laminas\\\\Hydrator\\\\Strategy\\\\StrategyChain\\:\\:hydrate\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Strategy/StrategyChain.php

		-
			message: "#^Method Laminas\\\\Hydrator\\\\Strategy\\\\StrategyInterface\\:\\:hydrate\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Strategy/StrategyInterface.php

